/*body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #000;
  text-align: center;
}
h4 {
  text-align: center;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 100%;
  border: 3px solid #000;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img {
  width: 100%;
}

#captureButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#captureButton2 {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-container {
  padding: 20px;
  text-align: center;
}
*/

/* styles.css */
/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.capture-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.camera-container,
.captured-image-container {
    text-align: center;
}

.img-container {
    margin-bottom: 10px;
}

#cameraImage {
    max-width: 300px; /* Set the maximum width as needed */
}
#cameraImage2 {
    max-width: 300px; /* Set the maximum width as needed */
}

button {
    margin-top: 10px;
}

#captureButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#captureButton2 {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#checkResult1 {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#checkResult2 {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sumResult {
  margin-top: 10px;
  padding: 10px;
  background-color: #3aaa35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

