<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Camera Testing</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Digit Recognition</h1>
        <h4>Capture 1</h4>
        <div class="camera-container">
            <div class="img-container">
                <img src="{{ url_for('video_feed') }}" />
            </div>
            <!-- Add your button here -->
            <button id="captureButton" onclick="captureImage()">Capture Image</button>
        </div>
        <div class="text-container">
            <!-- Add your text content here -->
            <p>Your text content goes here.</p>
        </div>
        <h4>Capture 2</h4>
        <div class="camera-container">
            <div class="img-container">
                <img src="{{ url_for('video_feed') }}" />
            </div>
            <!-- Add your button here -->
            <button id="captureButton2" onclick="captureImage()">Capture Image</button>
        </div>
        <div class="text-container">
            <!-- Add your text content here -->
            <p>Your text content goes here.</p>
        </div>
    </div>

    <!-- You may include your JavaScript here if needed -->
    <script>
        function captureImage() {
            var img = document.querySelector('.img-container img');
            var canvas = document.createElement('canvas');
            canvas.width = img.width;
            canvas.height = img.height;
            var ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, img.width, img.height);
            var imageDataUrl = canvas.toDataURL('image/jpeg');

            // Kirim data gambar ke Flask
            fetch('/save_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image_data: imageDataUrl }),
            })
            .then(response => response.text())
            .then(message => console.log(message))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
